:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color4);
  color: #434455;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.container {
  /* width: 1440px;*/
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/**----------------HEADER--------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 44px 70px;
  margin-right: 76px;
  position: relative;
}
.header-logo-color {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.header-menu-item {
  padding: 24px 0;
}
.header-menu-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  position: relative;
  color: var(--ocean, #404bbf);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-soc-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.header-soc-link {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-soc-link:hover,
.header-soc-link:focus {
  color: var(--ocean, #0015ff);
}
.curren::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}
.curren {
  position: relative;
  color: #404bbf;
}

/**----------------heder-------------*/
.heder {
  background-color: var(--navy-blue, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  color: var(--white-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heder-title {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  max-width: 496px;
  margin: 0 auto 48px auto;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.heder-btn {
  color: var(--white, #fff);
  /* Button Text */
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heder-btn:hover,
.heder-btn:focus {
  background-color: #404bbf;
}

/**------------------ADVANTAGES------------*/
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-sub-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-item-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advantages-item-top {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
}

/*--------------BOING--------------*/
.boing {
  padding-top: 0;
  padding-bottom: 120px;
}
.boing-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.boing-item {
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  align-items: flex-start;
}
.boing-title {
  color: var(--navyblue, #2e2f42);
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/**-----------TEAM-----------------*/
.team {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-title {
  color: var(--navyblue, #2e2f42);
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  width: calc((100% -72px) / 4);
  background: var(--white, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-section {
  padding: 32px 0;
  text-align: center;
}
.team-our-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-item-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-top {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: baseline;
}
.team-icons-wrap {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-wrap:hover,
.team-icons-wrap:focus {
  background-color: #404bbf;
}
.team-icons {
  fill: #f4f4fd;
}
/**-----------------besteleng--------------*/

.besteleng {
  padding-top: 120px;
  padding-bottom: 120px;
}
.besteleng-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.besteleng-list {
  display: flex;
  gap: 24px;
}
.besteleng-item {
  width: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}
.besteleng-item-top {
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  /*flex-shrink: 0;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.besteleng-icon {
  fill: currentColor;
}
.besteleng-item-top:hover,
.besteleng-item-top:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.besteleng-item-top:hover .besteleng-icon {
  color: #404bbf;
}

/**-----------------FOOTER-----------------*/

.footer {
  background: var(--navyblue, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-wrap {
  margin-right: 120px;
}
.footer-logo {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 44px 70px;
  display: inline-block;
}
.footer-logo-color {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-item-text {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-item-title {
  color: var(--white, #fff);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text {
  color: var(--white, #fff);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-icon {
  margin-right: 120px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}
.footer-icons-item {
  width: 40px;
  height: 40px;
}
.footer-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}
.footer-item-icons {
  fill: #f4f4fd;
}
.footer-form {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-form-text {
  color: var(--white, #fff);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--navyblue, #2e2f42);
  background-color: transparent;
  margin-right: 24px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-btn.btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
.footer-icon-btn {
  margin-left: 16px;
  fill: #ffffff;
}
/*--------------------MODAL-----------------------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.596);
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  margin-bottom: 8px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-icon-close {
  position: absolute;
  left: 8px;
}
.modal-close-btn {
}
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;

  font-size: 14px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-input::placeholder {
  font-size: 14px;
}
.modal-input:required {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-input-wrap {
  position: relative;
  margin-bottom: 16px;
}
.modal-icon {
  stroke: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-field-link {
  margin-bottom: 24px;
}
.modal-check-text {
  color: var(--lightslate, #8e8f99);
  /* Small Text */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}
.modal-check-link {
  color: var(--iris, #4d5ae5);
  /* Link Text */
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04;
  margin-left: 16px;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-check:focus + .modal-check-text span {
  border-color: #4d5ae5;
}
.modal-form-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
  align-items: center;
  cursor: point-er;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***------------PORTFOLIO-------------*/

/**-----------------GALERY-----------*/
.galery-btn {
  padding-top: 96px;
  padding-bottom: 120px;
}
.galery-btn-link {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.btn-item {
  color: var(--iris, #4d5ae5);
  /* Button Text */
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: var(--cloud, #f4f4fd);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.galery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  background: var(--white, #fff);
}
.galery-list-item {
  width: calc((100% - 48px) / 3);
}
.galery-list-item:hover,
.galery-list-item:focus {
}
.galery-title {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery-title:hover,
.galery-title:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.galery-title:hover .galery-cover-text,
.galery-title:focus .galery-cover-text {
  transform: translateY(0%);
}
.galery-title-link {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.galery-content-wrap {
  position: relative;
  overflow: hidden;
}
.galery-cover-text {
  position: absolute;
  top: 0;
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-galery-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-galery-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
}
